# Import Library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from os import listdir
from os.path import isfile, join

# Testing

In [12]:
df = pd.read_csv("../Dataset/2_Korea_Bakery_Price.csv")

In [13]:
df

                  Name      price
0            angbutter       4800
1          plain bread       3500
2                  jam       1500
3            ice coffe       4000
4            croissant       3500
5     ice coffe latter       4500
6   tiramisu croissant       4800
7           cacao deep       4000
8     pain au chocolat       3500
9     almond croissant       4000
10        ice milk tea       4500
11     gateau chocolat       4000
12             pandoro       4500
13         cheese cake       5000
14           lemon ade       4500
15        orange pound       4500
16              wiener       2500
17        valina latte       4500
18           berry ade       4500
19            tiramisu       4500
20    merinque cookies       4000
21        delivery fee  2000~4000

# Load Data

In [16]:
listDataPretrainedModel = []

In [2]:
def addDataPretrainedModel(path):
    try:
        df = pd.read_excel(path)
    except Exception:
        df = pd.read_csv(path)
    listDataPretrainedModel.append(df)

In [14]:
onlyfiles = [f for f in listdir("../Dataset") if isfile(join("../Dataset", f))]

In [19]:
onlyfiles

['1 Coffe_Sales.csv',
 '10 Europe_Bike_Store_Sales.csv',
 '11 E-commerce_Business_Transaction.csv',
 '12 Liquor_Sales.csv',
 '13 Online_Retail_Sales.csv',
 '2 Coffee_Bean_Sales.xlsx',
 '3 Balaji_Fast_Food_Sales.csv',
 '4 Pizza_Sales.csv',
 '5 Coffee_Shop_Sales.xlsx',
 '6 French_Bakery_Daily_Sales.csv',
 '7 Mexico_Toy_Sales.csv',
 '8 Bikers_Sales.xlsx',
 '9 Electronic_Sales.csv']

In [17]:
for file in onlyfiles:
    pathFile = join('../Dataset/', file)
    addDataPretrainedModel(path=pathFile)

# Preprocessing

In [43]:
listDataPretrainedModel[5]

,Order ID,Order Date,Customer ID,Product ID,Quantity,Customer Name,Email,Country,Coffee Type,Roast Type,Size,Unit Price,Sales
0,QEV-37451-860,2019-09-05,17670-51384-MA,R-M-1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QEV-37451-860,2019-09-05,17670-51384-MA,E-M-0.5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FAA-43335-268,2021-06-17,21125-22134-PX,A-L-1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KAC-83089-793,2021-07-15,23806-46781-OU,E-M-1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KAC-83089-793,2021-07-15,23806-46781-OU,R-L-2.5,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,RLM-96511-467,2020-01-06,43014-53743-XK,R-L-2.5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,AEZ-13242-456,2022-05-04,62494-09113-RP,R-M-0.5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,UME-75640-698,2019-10-11,62494-09113-RP,A-M-0.5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,GJC-66474-557,2021-08-03,64965-78386-MY,A-D-1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,IRV-20769-219,2020-10-15,77131-58092-GE,E-M-0.2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
dfsales = pd.read_excel("2 Coffee_Bean_Sales.xlsx")

In [8]:
dfproduk = pd.read_excel("2 Coffee_Bean_produk.xlsx")

In [19]:
dfnew = pd.merge(dfsales, dfproduk, on='Product ID')

In [21]:
dfnew = dfnew.drop('Price per 100g', axis=1)

In [23]:
dfnew.to_csv('2 Coffee_Bean_Sales.csv')

In [22]:
dfnew

,Order ID,Order Date,Customer ID,Product ID,Quantity,Customer Name,Email,Country,Coffee Type_x,Roast Type_x,Size_x,Sales,Coffee Type_y,Roast Type_y,Size_y,Unit Price,Profit
0,QEV-37451-860,2019-09-05,17670-51384-MA,R-M-1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rob,M,1.0,9.950,0.59700
1,QEV-37451-860,2019-09-05,17670-51384-MA,E-M-0.5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Exc,M,0.5,8.250,0.90750
2,FAA-43335-268,2021-06-17,21125-22134-PX,A-L-1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ara,L,1.0,12.950,1.16550
3,KAC-83089-793,2021-07-15,23806-46781-OU,E-M-1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Exc,M,1.0,13.750,1.51250
4,KAC-83089-793,2021-07-15,23806-46781-OU,R-L-2.5,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rob,L,2.5,27.485,1.64910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,RLM-96511-467,2020-01-06,43014-53743-XK,R-L-2.5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rob,L,2.5,27.485,1.64910
996,AEZ-13242-456,2022-05-04,62494-09113-RP,R-M-0.5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rob,M,0.5,5.970,0.35820
997,UME-75640-698,2019-10-11,62494-09113-RP,A-M-0.5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ara,M,0.5,6.750,0.60750
998,GJC-66474-557,2021-08-03,64965-78386-MY,A-D-1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ara,D,1.0,9.950,0.89550
999,IRV-20769-219,2020-10-15,77131-58092-GE,E-M-0.2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Exc,M,0.2,4.125,0.45375

In [17]:
dfsales = dfsales.drop('Unit Price', axis=1)

In [18]:
dfsales.head()

,Order ID,Order Date,Customer ID,Product ID,Quantity,Customer Name,Email,Country,Coffee Type,Roast Type,Size,Sales
0,QEV-37451-860,2019-09-05,17670-51384-MA,R-M-1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QEV-37451-860,2019-09-05,17670-51384-MA,E-M-0.5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FAA-43335-268,2021-06-17,21125-22134-PX,A-L-1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KAC-83089-793,2021-07-15,23806-46781-OU,E-M-1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KAC-83089-793,2021-07-15,23806-46781-OU,R-L-2.5,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
dfproduk.head()

  Product ID Coffee Type Roast Type  Size  Unit Price  Price per 100g   Profit
0    A-L-0.2         Ara          L   0.2       3.885          1.9425  0.34965
1    A-L-0.5         Ara          L   0.5       7.770          1.5540  0.69930
2      A-L-1         Ara          L   1.0      12.950          1.2950  1.16550
3    A-L-2.5         Ara          L   2.5      29.785          1.1914  2.68065
4    A-M-0.2         Ara          M   0.2       3.375          1.6875  0.30375