# Import Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from os import listdir
from os.path import isfile, join

In [3]:
import re

# Testing

In [12]:
df = pd.read_csv("../Dataset/2_Korea_Bakery_Price.csv")

In [13]:
df

                  Name      price
0            angbutter       4800
1          plain bread       3500
2                  jam       1500
3            ice coffe       4000
4            croissant       3500
5     ice coffe latter       4500
6   tiramisu croissant       4800
7           cacao deep       4000
8     pain au chocolat       3500
9     almond croissant       4000
10        ice milk tea       4500
11     gateau chocolat       4000
12             pandoro       4500
13         cheese cake       5000
14           lemon ade       4500
15        orange pound       4500
16              wiener       2500
17        valina latte       4500
18           berry ade       4500
19            tiramisu       4500
20    merinque cookies       4000
21        delivery fee  2000~4000

# Load Data

In [4]:
listDataPretrainedModel = []

In [5]:
def addDataPretrainedModel(path):
    try:
        df = pd.read_excel(path)
    except Exception:
        df = pd.read_csv(path)
    listDataPretrainedModel.append(df)

In [6]:
onlyfiles = [f for f in listdir("../Dataset") if isfile(join("../Dataset", f))]

In [7]:
onlyfiles

['1 Coffe_Sales.csv',
 '10 Europe_Bike_Store_Sales.csv',
 '11 E-commerce_Business_Transaction.csv',
 '12 Liquor_Sales.csv',
 '2 Coffee_Bean_Sales.csv',
 '3 Balaji_Fast_Food_Sales.csv',
 '4 Pizza_Sales.csv',
 '5 Coffee_Shop_Sales.xlsx',
 '6 French_Bakery_Daily_Sales.csv',
 '7 Mexico_Toy_Sales.csv',
 '8 Online_Retail_Sales.csv',
 '9 Electronic_Sales.csv']

In [8]:
for file in onlyfiles:
    pathFile = join('../Dataset/', file)
    addDataPretrainedModel(path=pathFile)

In [ ]:
listDataPretrainedModel[1]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

# Preprocessing

In [69]:
import copy

listTest = copy.deepcopy(listDataPretrainedModel)

In [30]:
listTest[1].head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [12]:
def clean_column_names(df):
    def clean_name(name):
        name = name.lower()
        name = re.sub(r'[^\w]', '', name)
        name = name.replace(' ', '')
        name = name.replace('_', '')
        return name
    
    df.columns = [clean_name(col) for col in df.columns]
    return df

In [70]:
listTest = [clean_column_names(df) for df in listTest]

In [32]:
listTest[1].head()

,date,day,month,year,customerage,agegroup,customergender,country,state,productcategory,subcategory,product,orderquantity,unitcost,unitprice,profit,cost,revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [74]:
def standardize_date_columns(df):    
    date_columns = [col for col in df.columns if 'date' in col]
    
    if not date_columns:
        raise ValueError("Dataset tidak memiliki kolom yang mengandung kata 'date'.")

    standardized_dates = []

    for col in date_columns:
        try:
            df[col] = pd.to_datetime(df[col], errors='coerce') 
        except Exception:
            continue
        
        # Hapus waktu dan ubah format ke dd/mm/yyyy
        standardized_dates.append(df[col].dt.strftime('%d/%m/%Y'))

    df.drop(columns=date_columns, inplace=True)
    
    df['date'] = pd.concat(standardized_dates, axis=1).bfill(axis=1).iloc[:, 0]
    df['date'] = pd.to_datetime(df['date'])
    df['date'] = df['date'].dt.strftime('%d/%m/%Y')




    return df

In [40]:
data = {
    "date": ["2023-12-01", "01/12/2023", "2023/12/01 15:30:00"],
    "end_datetime": ["2023-12-02 14:45:00", "02/12/2023", "2023/12/02"],
    "other_column": ["A", "B", "C"]
}
df = pd.DataFrame(data)

In [41]:
df

                  date         end_datetime other_column
0           2023-12-01  2023-12-02 14:45:00            A
1           01/12/2023           02/12/2023            B
2  2023/12/01 15:30:00           2023/12/02            C

In [42]:
df_standardized = standardize_date_columns(df)
df_standardized

  other_column
0            A
1            B
2            C

In [63]:
listTest[0].head()

,date,datetime,cashtype,card,money,coffeename
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

In [35]:
listTest[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        2341 non-null   object
 1   datetime    2341 non-null   object
 2   cashtype    2341 non-null   object
 3   card        2252 non-null   object
 4   money       2341 non-null   float64
 5   coffeename  2341 non-null   object
dtypes: float64(1), object(5)
memory usage: 109.9+ KB

In [ ]:
listTest[0] = standardize_date_columns(listTest[0])

In [75]:
listTest[1] = standardize_date_columns(listTest[1])

C:\Users\ipung\AppData\Local\Temp\ipykernel_18960\2682229782.py:11: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors='coerce')

In [76]:
listTest[1].head()

,day,month,year,customerage,agegroup,customergender,country,state,productcategory,subcategory,product,orderquantity,unitcost,unitprice,profit,cost,revenue,date
0,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,26/11/2013
1,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,26/11/2015
2,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401,23/03/2014
3,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088,23/03/2016
4,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,15/05/2014

In [65]:
listTest[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   day              113036 non-null  int64
 1   month            113036 non-null  object
 2   year             113036 non-null  int64
 3   customerage      113036 non-null  int64
 4   agegroup         113036 non-null  object
 5   customergender   113036 non-null  object
 6   country          113036 non-null  object
 7   state            113036 non-null  object
 8   productcategory  113036 non-null  object
 9   subcategory      113036 non-null  object
 10  product          113036 non-null  object
 11  orderquantity    113036 non-null  int64
 12  unitcost         113036 non-null  int64
 13  unitprice        113036 non-null  int64
 14  profit           113036 non-null  int64
 15  cost             113036 non-null  int64
 16  revenue          113036 non-null  int64
 17  date             113036 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(9), object(8)
memory usage: 15.5+ MB