# Import Library

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
from os import listdir
from os.path import isfile, join

# Testing

In [12]:
df = pd.read_csv("../Dataset/2_Korea_Bakery_Price.csv")

In [13]:
df

                  Name      price
0            angbutter       4800
1          plain bread       3500
2                  jam       1500
3            ice coffe       4000
4            croissant       3500
5     ice coffe latter       4500
6   tiramisu croissant       4800
7           cacao deep       4000
8     pain au chocolat       3500
9     almond croissant       4000
10        ice milk tea       4500
11     gateau chocolat       4000
12             pandoro       4500
13         cheese cake       5000
14           lemon ade       4500
15        orange pound       4500
16              wiener       2500
17        valina latte       4500
18           berry ade       4500
19            tiramisu       4500
20    merinque cookies       4000
21        delivery fee  2000~4000

# Load Data

In [16]:
listDataPretrainedModel = []

In [2]:
def addDataPretrainedModel(path):
    try:
        df = pd.read_excel(path)
    except Exception:
        df = pd.read_csv(path)
    listDataPretrainedModel.append(df)

In [14]:
onlyfiles = [f for f in listdir("../Dataset") if isfile(join("../Dataset", f))]

In [19]:
onlyfiles

['1 Coffe_Sales.csv',
 '10 Europe_Bike_Store_Sales.csv',
 '11 E-commerce_Business_Transaction.csv',
 '12 Liquor_Sales.csv',
 '13 Online_Retail_Sales.csv',
 '2 Coffee_Bean_Sales.xlsx',
 '3 Balaji_Fast_Food_Sales.csv',
 '4 Pizza_Sales.csv',
 '5 Coffee_Shop_Sales.xlsx',
 '6 French_Bakery_Daily_Sales.csv',
 '7 Mexico_Toy_Sales.csv',
 '8 Bikers_Sales.xlsx',
 '9 Electronic_Sales.csv']

In [17]:
for file in onlyfiles:
    pathFile = join('../Dataset/', file)
    addDataPretrainedModel(path=pathFile)

In [21]:
listDataPretrainedModel[0].columns

Index(['date', 'datetime', 'cash_type', 'card', 'money', 'coffee_name'], dtype='object')

In [26]:
print(len(listDataPretrainedModel[11].index))

829262

In [20]:
listDataPretrainedModel[10]

        Sale_ID        Date  Store_ID  Product_ID  Units    Price
0             1  2017-01-01        24           4      1  $12.99
1             2  2017-01-01        28           1      1  $15.99
2             3  2017-01-01         6           8      1   $6.99
3             4  2017-01-01        48           7      1  $15.99
4             5  2017-01-01        44          18      1  $39.99
...         ...         ...       ...         ...    ...      ...
829257   829258  2018-09-30        24          19      1  $15.99
829258   829259  2018-09-30        16          35      1   $7.99
829259   829260  2018-09-30        22          19      1  $15.99
829260   829261  2018-09-30        13           2      2  $12.99
829261   829262  2018-09-30        32           6      1  $14.99

[829262 rows x 6 columns]

In [42]:
listDataPretrainedModel[11]['Price'] = ""

In [34]:
listDataPretrainedModel[10].head()

   Product_ID      Product_Name Product_Category Product_Cost Product_Price
0           1     Action Figure             Toys       $9.99        $15.99
1           2    Animal Figures             Toys       $9.99        $12.99
2           3   Barrel O' Slime     Art & Crafts       $1.99         $3.99
3           4  Chutes & Ladders            Games       $9.99        $12.99
4           5  Classic Dominoes            Games       $7.99         $9.99

In [31]:
listDataPretrainedModel[11]['Product_ID'][0]

4

In [39]:
print(listDataPretrainedModel[10].loc[listDataPretrainedModel[10]['Product_ID'] == 2]['Product_Price'])

1    $12.99
Name: Product_Price, dtype: object

In [ ]:
for i in range(len(listDataPretrainedModel[11].index)):
    id = listDataPretrainedModel[11]['Product_ID'][i]
    price = listDataPretrainedModel[10].loc[listDataPretrainedModel[10]['Product_ID'] == id]['Product_Price']
    listDataPretrainedModel[11]['Price'][id] = price

In [10]:
listDataPretrainedModel[11] = listDataPretrainedModel[11].merge(
    listDataPretrainedModel[10][['Product_ID', 'Product_Price']],
    on='Product_ID',
    how='left'
)
listDataPretrainedModel[11].rename(columns={'Product_Price': 'Price'}, inplace=True)

In [13]:
listDataPretrainedModel[11].to_csv('7 Mexico_Toy_Sales.csv', index=False)